{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-2",
    "react"
  ],
  "plugins": ["@babel/plugin-transform-regenerator"],
  "ignore": ["node_modules", "dist"]
}
